/* makes the text style the way it is */
html{
  font-family: sans-serif;
}

/* adds padding to the body */
body{
  padding-top: 3%;
}
/* puts the searchbar at the top right */
#Search{
  float: right;

}

/*
makes sure that on all sides there is no white border, except for underneath
position is fixed so it doesnt move when you scroll
makes the with the screen size
removes the way the list looks
makes sure there is no margin or padding between the list and the sides
makes the color black
*/
#Top-Bar{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000;
}

/*
positions the buttons Left
centers the text
adds a 1% padding
*/
#Top-Bar li #Link-Left{
  float: left;
  text-align: center;
  padding: 1%;
}

/*
positions the buttons right
centers the text
adds a 1% padding
*/
#Top-Bar li #Link-Right{
  float: right;
  text-align: center;
  padding: 1%;
}

/*
removes the line under the links
makes the color white
*/
#Top-Bar a{
  text-decoration: none;
  color: #FFF;
}

/* if you hover over any of the items in the navigation barit will color grey. */
#Top-Bar li #Link-Right:hover, #Top-Bar li #Link-Left:hover{
  background-color: #909090;
}


/* LOCATION */
#out {
    display: none;
}
#out1 {
    display: none;
}
#out2 {
    display: none;
}

#remove{
  background-color: red;
}
/* END LOCATION */
